@import url("https://fonts.googleapis.com/css?family=Playfair+Display");

@font-face {
    font-family: “GothamMedium”;
    src: url(“GothamMedium.otf”);
}
@font-face {
    font-family: “GothamBook”;
    src: url(“GothamBook.otf”);
}

h1 {
    font-size: 100px;
}

h3 {
    font-family: ‘Playfair Display’, serif;
}
.hackCvilleLogo{
    width: 40px;
    height: auto;
    margin-top: -5px;
    margin-left: 5vw;
}
.navbar{
    background-color: white;
}
.applyButton{
    margin-top: -6px;
}
.nav li{
    margin-top: 5px;
    margin-left: 5vw;
}
.navbar-right{
    margin-right: 5vw;
}
