.hackCvilleLogo{
    width: 40px;
    height: auto;
    margin-top: -5px;
    margin-left: 5vw;
}
.navbar{
    background-color: white;
}
.applyButton{
    margin-top: -6px;
}
.nav li{
    margin-top: 5px;
    margin-left: 5vw;
}
.navbar-right{
    margin-right: 5vw;
}
